@model IEnumerable<E_commerce_Site.Models.Product>
@{
    ViewData["Title"] = "CategoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        @await Component.InvokeAsync("CategoryList")
        @if (Model.Count()>0)
        {
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header text-center">
                            @item.Title
                        </div>
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">
                            <img src="@item.Image" class="card-img-top" alt="..." style="height:350px">
                        </a>
                        <div class="card-body" style="height:100px">
                            <p class="card-text">@item.Description</p>
                        </div>
                        <div class="card-footer">
                            <label style="font-size:20px;color:crimson"><b>@item.Price.ToString("0.00")$</b></label>
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-outline-info" style="float:right">Detail</a>
                        </div>
                    </div>
                </div>
            }

        }
        else
        {
            <div id="noava" class="alert alert-warning text-center" style="width:75%;height:20%;">
                No available product...
            </div>
        }


    </div>
</div>